@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --Light_Cyan: hsl(193, 38%, 86%);
    --Neon_Green: hsl(150, 100%, 66%);

    /* Neutral */

    --Grayish_Blue: hsl(217, 19%, 38%);
    --Dark_Grayish_Blue: hsl(217, 19%, 24%);
    --Dark_Blue: hsl(218, 23%, 16%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark_Blue);
}

main {
    position: relative;
}

.card {
    width: 90vw;
    padding: 50px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100%;
    gap: 28px;
    background-color: var(--Dark_Grayish_Blue);
    text-align: center;
}

.heading {
    color: var(--Neon_Green);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.advice-id {
    color: var(--Neon_Green);
}

.show-advice {
    color: var(--Light_Cyan);
    font-weight: 800;
    font-size: 28px;
}

.card img {
    width: 100%;
}

#btn {
    position: absolute;
    right: 50%;
    padding: 16px 17px 14px 18px;
    border-radius: 50%;
    background-color: var(--Neon_Green);
    transform: translateX(50%);
    bottom: -30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#btn:hover {
    box-shadow: 0px 0px 20px 2px var(--Neon_Green);
}